.main-container {
	background-color: white;
	font-family: sans-serif;
	max-width: 900px;
	margin:0 auto;
	border: solid black;
	padding-top: 30px;
	padding-left: 50px;
	padding-right:50px;
	padding-bottom: 30px;
}

.copyright {
	color: #666666;
	text-align: center;
	margin: 50px;
}

html {
	background-color: #F0F0F0;
}

h1 {
	display: inline-block;
	padding: 20px;
	background-color: black;
	color:white;
}