#extra_content {
	font-family: Georgia;
	color: white;
}

#jacobian_matrix {
	padding: 5px;
	display: inline-block;
	background-color: black;
}

.matrix_brackets {
	display: inline-block;
	border-right: 1px solid;
	border-left: 1px solid;
	border-radius: 5px;
	text-align: right;
	padding: 3px;
}

.matrix_column {
	display: inline-block;
	text-align: right;
	padding: 3px;
	width: 50px;
	font-family: monospace;
}

.symbol {
	min-width: 50px;
	display: inline-block;
	text-align: right;
	font-style: italic;
	vertical-align: top;
}

.symbol_explanation {
	min-width: 50px;
	display: inline-block;
	vertical-align: top;
}